### 범주형 변수 이진 인코딩 과정 진행

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 주거 형태 이진 인코딩
train = pd.read_csv('train.csv',index_col = 0)

In [4]:
#사용할 컬럼만 남기기
train = train[['주거 형태','연간 소득','개설된 신용계좌 수','대출 목적','대출 상환 기간',
               '최대 신용한도','월 상환 부채액','신용 점수','채무 불이행 여부']]

In [5]:
def encoding(x):
    if x == '자가' or x == '월세':
        return 1
    else:
        return 0

In [6]:
# 주거 형태 레이블 인코딩(자가/월세 : 1, 주담대 : 0)
train['주거 형태'] = train['주거 형태'].map(lambda x: encoding(x))
train['주거 형태']

UID
TRAIN_00000    1
TRAIN_00001    1
TRAIN_00002    1
TRAIN_00003    1
TRAIN_00004    1
              ..
TRAIN_09995    0
TRAIN_09996    0
TRAIN_09997    0
TRAIN_09998    1
TRAIN_09999    0
Name: 주거 형태, Length: 10000, dtype: int64

In [7]:
# 개설 신용계좌 수에 따른 인코딩(계좌 수가 18개 이상이면 1, 이하면 0)
train['개설된 신용계좌 수'] = train['개설된 신용계좌 수'].map(lambda x : 1 if x>=18 else 0)
train['개설된 신용계좌 수']

UID
TRAIN_00000    0
TRAIN_00001    0
TRAIN_00002    0
TRAIN_00003    0
TRAIN_00004    0
              ..
TRAIN_09995    0
TRAIN_09996    0
TRAIN_09997    0
TRAIN_09998    0
TRAIN_09999    0
Name: 개설된 신용계좌 수, Length: 10000, dtype: int64

In [8]:
#상환 기간 인코딩
train['대출 상환 기간'] = train['대출 상환 기간'].map(lambda x: 1 if x=='장기 상환' else 0)
train['대출 상환 기간']

UID
TRAIN_00000    0
TRAIN_00001    0
TRAIN_00002    0
TRAIN_00003    0
TRAIN_00004    1
              ..
TRAIN_09995    0
TRAIN_09996    1
TRAIN_09997    1
TRAIN_09998    0
TRAIN_09999    1
Name: 대출 상환 기간, Length: 10000, dtype: int64

In [9]:
#대출 목적 인코딩
train['대출 목적'].unique()
bu_list = ['부채 통합','사업 대출','소규모 사업 자금']
train['대출 목적'] = train['대출 목적'].map(lambda x: 1 if x in bu_list else 0)
train['대출 목적']

UID
TRAIN_00000    1
TRAIN_00001    1
TRAIN_00002    1
TRAIN_00003    1
TRAIN_00004    1
              ..
TRAIN_09995    1
TRAIN_09996    0
TRAIN_09997    1
TRAIN_09998    1
TRAIN_09999    0
Name: 대출 목적, Length: 10000, dtype: int64

In [10]:
train.head()

,주거 형태,연간 소득,개설된 신용계좌 수,대출 목적,대출 상환 기간,최대 신용한도,월 상환 부채액,신용 점수,채무 불이행 여부
UID,,,,,,,,,
TRAIN_00000,1,1941337.5,0,1,0,400597.5,8806.5,767,0
TRAIN_00001,1,1979505.0,0,1,0,360679.5,24961.5,767,0
TRAIN_00002,1,1356381.0,0,1,0,491770.5,12069.0,800,1
TRAIN_00003,1,1049017.5,0,1,0,411546.0,31749.0,796,1
TRAIN_00004,1,4320217.5,0,1,1,895288.5,5862.0,751,0

In [11]:
# 데이터 분할
train_x = train.iloc[:,:-1]
train_y = train.iloc[:,-1]

In [14]:
test.columns

Index(['UID', '주거 형태', '연간 소득', '현재 직장 근속 연수', '체납 세금 압류 횟수', '개설된 신용계좌 수',
       '신용 거래 연수', '최대 신용한도', '신용 문제 발생 횟수', '마지막 연체 이후 경과 개월 수', '개인 파산 횟수',
       '대출 목적', '대출 상환 기간', '현재 대출 잔액', '현재 미상환 신용액', '월 상환 부채액', '신용 점수'],
      dtype='object')

In [16]:
test = pd.read_csv('test.csv')
test = test[['주거 형태','연간 소득','개설된 신용계좌 수','대출 목적','대출 상환 기간',
               '최대 신용한도','월 상환 부채액','신용 점수']]
test['주거 형태'] = test['주거 형태'].map(lambda x: encoding(x))
test['개설된 신용계좌 수'] = test['개설된 신용계좌 수'].map(lambda x : 1 if x>=18 else 0)
test['대출 상환 기간'] = test['대출 상환 기간'].map(lambda x: 1 if x=='장기 상환' else 0)
test['대출 목적'] = test['대출 목적'].map(lambda x: 1 if x in bu_list else 0)
test.head()

   주거 형태      연간 소득  개설된 신용계좌 수  대출 목적  대출 상환 기간    최대 신용한도  월 상환 부채액  신용 점수
0      1  1560090.0           0      0         0   495561.0   29641.5    736
1      0  2102616.0           0      1         1   580833.0   20151.0    718
2      0  2477989.5           0      1         1   995841.0   13113.0    722
3      0  1571091.0           0      1         0   601656.0   11679.0    762
4      0  2290260.0           1      1         0  1954623.0   42370.5    775

In [17]:
#인코딩 처리한 csv 파일 저장
train.to_csv('train_encoding.csv',index=False)
test.to_csv('test_encoding.csv',index=False)

In [ ]:
#로지스틱 회귀 진행
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model_fit = model.fit(train_x,train_y)
pred = model_fit.predict_proba(test)
preds = pred[:,-1]

In [26]:
submit = pd.read_csv('sample_submission.csv')

# 결과 저장
submit['채무 불이행 확률'] = preds
submit.to_csv('submission.csv', encoding='UTF-8-sig', index=False)